.datepickerContainer {
  text-align: center;
  margin-top: 30px;
}
.days-container {
  display: flex;
  justify-content: center;
}
.weekday {
  width: 55px;
}
/* .date-container {
  width: 245px;
} */
.date-container span {
  width: 57px;
}
.month-date-container {
  display: flex;
  justify-content: center;
}
.date-container {
  display: flex;
  justify-content: center;
}
.datepicker-month h3 {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 600px;
  list-style-type: none;
  text-align: center;
  padding: 30px 30px 10px;
}
.datepicker-month {
  position: relative;
}
.datepicker-month h3.activeMonth {
  display: block;
}
.arrow i {
  font-size: 15px;
}
.arrow {
  position: absolute;
  top: 55%;
  cursor: pointer;
}
.arrow.nextArrow {
  right: 38%;
}
.arrow.backArrow {
  left: 38%;
}
.date {
  cursor: pointer;
}
.date:hover {
  background: #00b8ff;
  color: #fff;
}
.active-date {
  background: #00b8ff;
  color: #fff;
}
.month-date {
  display: none;
}
.month-date.active-month {
  display: block;
}
